{% extends 'base.html.twig' %}

{% block body %}

    {% set articlesPerRow = 4 %}

    {#<h1>Products list</h1>#}
    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('product_new') }}"><i class="fab fa-adversal" style="font-size: 2.2em;"></i> Create a new product</a>#}
        {#</li>#}
    {#</ul>#}


    {% for i, product in products %}
        {% set r = ((i % articlesPerRow) == 0) %}
        {% if r %}<div class="row my-4">{% endif %}
        <div class="col-lg-{{ 12 / articlesPerRow }}">
            <div class="d-flex flex-row bd-highlight mb-3">
                {% include 'snippets/product_snippet.html.twig' %}
            </div>
        </div>
        {% if loop.last or ((i % articlesPerRow) == articlesPerRow-1) %}</div>
        {% endif %}
    {% else %}
        <h2 class="text-center">Nothing found.</h2>
    {% endfor %}


    <script>

        const alertsDurationInSeconds = 5;

        // ON DOCUMENT READY
        $(function () {

            // AUTO CLOSE ALERTS IN A FEW SECONDS
            setTimeout(function () {
                $(".alert").alert('close');
            }, alertsDurationInSeconds * 1000);
        })


        var allNames = [];
        var allParents = [];
        $('#product_categories option').each(function () {
            var text = $(this).text();
            var name = text.split('/').reverse()[0]
            var parent = text.replace(name, '');
            allParents.push(parent);
            allNames.push(name);
        })

        $('#product_categories option').each(function () {
            console.log(allNames);
            console.log(allParents);
            var text = $(this).text();
            if (allParents.indexOf(text) > 0) {
                $(this).remove();
            }
        })

        )


    </script>

{% endblock body %}
